body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: #f7c9be;
	font-size: 43px;
	font-weight: 100;
	line-height: 60px;
	margin-bottom: 0;
	margin-top: -30px;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	color: #d8d5af;
	font-size: 18px;
	font-weight: 150;
	line-height: 19px;
}

li::first-letter {
	text-transform: capitalize;
}

a {
	text-decoration: none;
}

.weather-app-wrapper {
	max-width: 600px;
	margin: 30px auto;
}
.weather-app {
	padding: 20px;
	border: 3px solid #9adbd7;
	border-radius: 23px;
}
.overview {
	margin-bottom: 20px;
}
.weather-temperature img {
	margin-right: 15px;
	height: 64px;
	width: 64px;
}
.weather-temperature strong {
	color: #8ac8db;
	font-size: 40px;
	line-height: 1;
}
.weather-temperature .units {
	position: relative;
	font-size: 16px;
}

.weather-temperature .active {
	color: #8ac8db;
	cursor: default;
}

.weather-temperature .active:hover {
	text-decoration: none;
}

.weather-forecast {
	margin-top: 20px;
	text-align: center;
}

.weather-forecast-date {
	font-size: 16px;
	color: black;
	opacity: 0.5;
}

.weather-forecast-temperature {
	font-size: 13px;
}

.weather-forecast-temperature-minimum {
	opacity: 0.5;
}
