body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: #f7c9be;
	font-size: 43px;
	font-weight: 100;
	line-height: 60px;
	margin-bottom: 0;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	color: #d8d5af;
	font-size: 18px;
	font-weight: 150;
	line-height: 19px;
	text-transform: capitalize;
}
.weather-app-wrapper {
	max-width: 600px;
	margin: 30px auto;
}
.weather-app {
	padding: 20px;
	border: 3px solid #cadad9;
	border-radius: 23px;
}
.overview {
	margin-bottom: 20px;
}
.weather-temperature img {
	margin-right: 15px;
	height: 64px;
	width: 64px;
}
.weather-temperature strong {
	color: #b4c4c9;
	font-size: 40px;
	line-height: 1;
}
.weather-temperature .units {
	position: relative;
	font-size: 16px;
}
